@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #F3FAFF;
    font-family: "Montserrat", sans-serif;
}

.title{
    margin-left: 6px;
    font-size: 15px;
    font-weight: bold;
}

.card{
    margin-top: 20px;
    padding: 8px;
    border: 1px solid;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
}

#form-paciente{
    display: flex;
    flex-direction: column;
    
}

.btt-submit{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #006AAF;
    color: white;
    width: 100px;
    height: 28px;

}

label{
    margin-top: 15px;
    font-size: 13px;
}

input{
    border: 1px solid;
    border-radius: 6px;
    padding-inline: 10px;
    padding-block: 3px;
}


.lista-pacientes{
    margin-top: 20px;
    padding: 8px;
    border: 1px solid;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
}
